@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="admin/product/index">Read Product</a>
    </br>
    <a href="admin/product/create">Add Product</a>
    </br>
    <a href="admin/product/update">Update Product</a>
</div>
